/**
* Button
*/

button {
    font-family: 'Morris Roman';
    background-color: var(--primary);
    border: none;
    padding: .5rem 1.5rem;
}

button a {
    color: var(--white);
    text-decoration: none;
}

.btn_normal:hover {
    background-color: var(--secondary);
}

.btn_normal:hover a {
    color: var(--black);
}

/** 
* Icon
*/

.icon {
    color: var(--white);
    min-width: 20px;
}

/**
* Dialog
*/

dialog {
    background-color: var(--white);
    color: var(--black);
    max-width: 550px;
}

.close_tirol {
    cursor: pointer;
}

/**
* Timeline für Schneidereiprozess
*/

.vr {
    position: relative;
}

.timeline {
    position: absolute;
}

.schritte {
    height: 4rem;
}

.schritte_neu {
    height: 4.5rem;
}

/**
* Marktkalender
*/

.month {
    display: flex;
    justify-content: end;
    align-items: center;
}

.calendar {
    position: absolute;
    margin-left: -1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verticaltext {
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .month {
        justify-content: left;
    }
    .calendar {
        flex-direction: row;
        margin-left: 0;
    }
    .verticaltext {
        word-wrap: normal;
    }
    .vr {
        display: none;
    }
    .infos {
        justify-content: space-between;
        margin-right: 1rem;
    }
}

/**
* Marktkarte
*/

#map_mobile {
    display: none;
}

@media screen and (max-width: 700px) {
    #map {
        display: none;
    }

    #map_mobile {
        display: block;
    }
}

.accordion {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 18px 30px 0 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.active, .accordion:hover {
background-color: var(--secondary);
}

.panel {
    padding: 0 18px;
    background-color: var(--white);
    display: none;
    overflow: hidden;
  }

/**
* Produkte
*/

.download {
    font-family: 'Morris Roman', sans-serif;
    color: var(--primary);
    font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
    .panel_mobile {
        flex-direction: column;
    }
}

/**
* Kontaktformular
*/

#kontaktformular {
    background-color: var(--secondary);
    color: var(--black);
    padding: 3rem;
}

.btn-form {
    background-color: var(--secondary);
    color: var(--black);
    border: 1px solid var(--black);
}

.btn-form:hover {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}

.form-control {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 0%;
    border: none;
}

/**
* Error
*/

#error {
    max-width: 700px;
    margin: 150px auto;
}