/**
* 1. Klassisches Seitenlayout (begrenzte breite, zentriert)
*/

main {
  max-width: 1000px;
  margin: 0 auto;
}

/**
* 2. Kopfbereich (inklusive Inhalte)
*/

header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 85vh;
  background-position: center;
}

/**
* 3. Footer
*/

footer {
  background-color: var(--primary);
}

footer li {
  list-style-type: none;
}

footer li:after {
  content: "";
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
  background-color: var(--white);
}

footer li a {
  color: var(--white);
  text-decoration: none;
  font-family: 'Morris Roman';
  font-size: 1.2em;
}

footer li:hover::after {
  width: 100%;
  height: 1px;
  background-color: var(--white);
}

@media screen and (max-width: 767px) {

  .footer_mobile {
    flex-direction: column;
  }

  .socials_mobile {
    display: flex;
    justify-content: end;
  }

}