:root {
    --primary: #395144;
    --white: #FCFCFC;
    --black: #000000;
}

@font-face {
    font-family: 'Morris Roman';
    src: url(fonts/morris-roman.black-webfont.woff) format(woff)
         url(fonts/morris-roman.black-webfont.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
}

/* roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Morris Roman';
}

.nav-link {
    font-family: 'Morris Roman';
    color: var(--white);
}

body {
    background-color: var(--white);
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.5em;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

button {
    font-family: 'Morris Roman';
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: .5rem 1.5rem;
}

footer {
    background-color: var(--primary);
}

.icon {
    color: var(--white);
    min-width: 20px;
}

footer li {
    list-style-type: none;
}

footer li a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Morris Roman';
    font-size: 1.2em;
}

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    height: 85vh;
}

/* Navigation */

.menu3 {
    display: block;
    height: 100%;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);    
}

.menu3 li:after {
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
}

.menu3 li a:hover {
    color: var(--white);
}

.menu3 li:hover::after {
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

.nav1 {
    position: fixed;
    background-color: transparent;
    transition: all .4s ease-in-out;
}

.scroll {
    background-color: var(--white);
}

.scroll li a {
    color: var(--primary);
}

.scroll li a:hover {
    color: var(--primary);
}

.scroll li:after {
    background-color: var(--primary);
}

.scroll li:hover::after {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
}

.scroll {
    border-bottom: solid 1px #eeeeee;
}

.nav2 {
    background-color: var(--white);
    border-bottom: solid 1px #eeeeee;
    margin-bottom:10rem;
}

.nav2 li a {
    color: var(--primary);
}

.nav2 li a:hover {
    color: var(--primary);
}

.nav2 li:after {
    background-color: var(--primary);
}

.nav2 li:hover::after {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
}
